{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components"
  ],
  "ignoreFiles": [
    "_site/**/*.css",
    "_site/**/*.scss"
  ],
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "string-quotes": "single",
    "value-no-vendor-prefix": null,
    "property-no-vendor-prefix": null
  }
}