.suc-sticky-alert {
  width: 300px;
  height: 200px;
  border-radius: 22px;
  position: fixed;
  left: 20px;
  bottom: 200px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
