@use '../base/variables' as *;

.walking-sprites {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
  position: relative;

  &__header-text {
    h1 {
      line-height: 32px;
    }
  }

  &__usefull-objects {
    border: 2px solid $netar-smooth-black;
    border-radius: 4px;
    width: 356px;
    padding: 10px;
    min-height: 88px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  &__assigned-objects {
    border: 2px solid $netar-yellow;
    border-radius: 4px;
    display: flex;
    padding: 10px;
    min-height: 88px;
    width: 356px;
    display: flex;
    justify-content: center;
  }

  &__sprites-navigation {
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 20px;
    position: absolute;
    font-weight: bold;
    bottom: 35px;

    span {
      cursor: pointer;
    }
  }
}

.walking-sprites h1 {
  text-align: center;
}

/*
    Custom changes for object list
  */

.ObjectDraggable {
  display: flex;
  width: 64px;
  height: 64px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin: 0 4px;
  background: url('https://i.pinimg.com/564x/a3/82/c8/a382c8bf0e2ea05d2fc18d75b3bb7fe9.jpg');
  overflow: hidden;

  &.object-pizza {
    background-position: -20px -4px;
  }
}
