@charset "UTF-8";
@font-face {
  font-family: "fontello";
  src: url("../font/fontello.eot?26793073");
  src: url("../font/fontello.eot?26793073#iefix") format("embedded-opentype"), url("../font/fontello.woff2?26793073") format("woff2"), url("../font/fontello.woff?26793073") format("woff"), url("../font/fontello.ttf?26793073") format("truetype"), url("../font/fontello.svg?26793073#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?26793073#fontello') format('svg');
  }
}
*/
[class^=icon-]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-calendar:before {
  content: "\e800";
} /* '' */
.icon-github-circled:before {
  content: "\f09b";
} /* '' */
.icon-twitter-squared:before {
  content: "\f304";
} /* '' */
.icon-linkedin-squared:before {
  content: "\f30c";
} /* '' */
.icon-instagram:before {
  content: "\f16d";
} /* '' */
.icon-facebook:before {
  content: "\f308";
} /* '' */
.icon-youtube:before {
  content: "\f167";
} /* '' */
.icon-dribbble:before {
  content: "\f17d";
} /* '' */
.icon-flickr:before {
  content: "\f16e";
} /* '' */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* Solarized Light 
For use with Jekyll and Pygments
http://ethanschoonover.com/solarized
SOLARIZED HEX      ROLE
--------- -------- ------------------------------------------
base01    #586e75  body text / default code / primary content
base1     #93a1a1  comments / secondary content
base3     #fdf6e3  background
orange    #cb4b16  constants
red       #dc322f  regex, special keywords
blue      #268bd2  reserved keywords
cyan      #2aa198  strings, numbers
green     #859900  operators, other keywords
*/
.highlight {
  background-color: #fdf6e3;
  color: #586e75;
}

.highlight .c {
  color: #93a1a1;
} /* Comment */
.highlight .err {
  color: #586e75;
} /* Error */
.highlight .g {
  color: #586e75;
} /* Generic */
.highlight .k {
  color: #859900;
} /* Keyword */
.highlight .l {
  color: #586e75;
} /* Literal */
.highlight .n {
  color: #586e75;
} /* Name */
.highlight .o {
  color: #859900;
} /* Operator */
.highlight .x {
  color: #cb4b16;
} /* Other */
.highlight .p {
  color: #586e75;
} /* Punctuation */
.highlight .cm {
  color: #93a1a1;
} /* Comment.Multiline */
.highlight .cp {
  color: #859900;
} /* Comment.Preproc */
.highlight .c1 {
  color: #93a1a1;
} /* Comment.Single */
.highlight .cs {
  color: #859900;
} /* Comment.Special */
.highlight .gd {
  color: #2aa198;
} /* Generic.Deleted */
.highlight .ge {
  color: #586e75;
  font-style: italic;
} /* Generic.Emph */
.highlight .gr {
  color: #dc322f;
} /* Generic.Error */
.highlight .gh {
  color: #cb4b16;
} /* Generic.Heading */
.highlight .gi {
  color: #859900;
} /* Generic.Inserted */
.highlight .go {
  color: #586e75;
} /* Generic.Output */
.highlight .gp {
  color: #586e75;
} /* Generic.Prompt */
.highlight .gs {
  color: #586e75;
  font-weight: bold;
} /* Generic.Strong */
.highlight .gu {
  color: #cb4b16;
} /* Generic.Subheading */
.highlight .gt {
  color: #586e75;
} /* Generic.Traceback */
.highlight .kc {
  color: #cb4b16;
} /* Keyword.Constant */
.highlight .kd {
  color: #268bd2;
} /* Keyword.Declaration */
.highlight .kn {
  color: #859900;
} /* Keyword.Namespace */
.highlight .kp {
  color: #859900;
} /* Keyword.Pseudo */
.highlight .kr {
  color: #268bd2;
} /* Keyword.Reserved */
.highlight .kt {
  color: #dc322f;
} /* Keyword.Type */
.highlight .ld {
  color: #586e75;
} /* Literal.Date */
.highlight .m {
  color: #2aa198;
} /* Literal.Number */
.highlight .s {
  color: #2aa198;
} /* Literal.String */
.highlight .na {
  color: #586e75;
} /* Name.Attribute */
.highlight .nb {
  color: #B58900;
} /* Name.Builtin */
.highlight .nc {
  color: #268bd2;
} /* Name.Class */
.highlight .no {
  color: #cb4b16;
} /* Name.Constant */
.highlight .nd {
  color: #268bd2;
} /* Name.Decorator */
.highlight .ni {
  color: #cb4b16;
} /* Name.Entity */
.highlight .ne {
  color: #cb4b16;
} /* Name.Exception */
.highlight .nf {
  color: #268bd2;
} /* Name.Function */
.highlight .nl {
  color: #586e75;
} /* Name.Label */
.highlight .nn {
  color: #586e75;
} /* Name.Namespace */
.highlight .nx {
  color: #586e75;
} /* Name.Other */
.highlight .py {
  color: #586e75;
} /* Name.Property */
.highlight .nt {
  color: #268bd2;
} /* Name.Tag */
.highlight .nv {
  color: #268bd2;
} /* Name.Variable */
.highlight .ow {
  color: #859900;
} /* Operator.Word */
.highlight .w {
  color: #586e75;
} /* Text.Whitespace */
.highlight .mf {
  color: #2aa198;
} /* Literal.Number.Float */
.highlight .mh {
  color: #2aa198;
} /* Literal.Number.Hex */
.highlight .mi {
  color: #2aa198;
} /* Literal.Number.Integer */
.highlight .mo {
  color: #2aa198;
} /* Literal.Number.Oct */
.highlight .sb {
  color: #93a1a1;
} /* Literal.String.Backtick */
.highlight .sc {
  color: #2aa198;
} /* Literal.String.Char */
.highlight .sd {
  color: #586e75;
} /* Literal.String.Doc */
.highlight .s2 {
  color: #2aa198;
} /* Literal.String.Double */
.highlight .se {
  color: #cb4b16;
} /* Literal.String.Escape */
.highlight .sh {
  color: #586e75;
} /* Literal.String.Heredoc */
.highlight .si {
  color: #2aa198;
} /* Literal.String.Interpol */
.highlight .sx {
  color: #2aa198;
} /* Literal.String.Other */
.highlight .sr {
  color: #dc322f;
} /* Literal.String.Regex */
.highlight .s1 {
  color: #2aa198;
} /* Literal.String.Single */
.highlight .ss {
  color: #2aa198;
} /* Literal.String.Symbol */
.highlight .bp {
  color: #268bd2;
} /* Name.Builtin.Pseudo */
.highlight .vc {
  color: #268bd2;
} /* Name.Variable.Class */
.highlight .vg {
  color: #268bd2;
} /* Name.Variable.Global */
.highlight .vi {
  color: #268bd2;
} /* Name.Variable.Instance */
.highlight .il {
  color: #2aa198;
} /* Literal.Number.Integer.Long */
.highlight {
  background-color: #f4f4f4;
}

div.highlight {
  padding: 5px 20px;
}

pre.highlight, code {
  font-family: "Consolas", Menlo, monospace;
  line-height: 1.4em;
  tab-size: 4;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
embed,
object,
video {
  max-width: 100%;
}

a {
  color: #000;
  transition: color 0.3s;
}
a:hover {
  color: #0a59b0;
}

h2 {
  margin: 0.7em 0;
}

main {
  margin: 0 90px;
  display: flex;
  height: 100%;
}
@media screen and (min-width: 1600px) {
  main {
    margin: 0 auto;
    max-width: 1440px;
  }
}
@media screen and (max-width: 1280px) {
  main {
    margin: 0 75px;
  }
}
@media screen and (max-width: 1024px) {
  main {
    margin: 0 35px;
  }
}
@media screen and (max-width: 768px) {
  main {
    margin: 0 10px;
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  main {
    margin: 0;
  }
}
@media screen and (min-width: 769px) {
  main .content {
    max-width: calc(100% - 118px);
    margin-left: 118px;
    width: 70%;
  }
}
main .about {
  display: flex;
  padding-bottom: 15vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main .about .badges-box {
  display: flex;
}
main .about .badges-box img {
  margin: 4px;
}
@media screen and (max-width: 768px) {
  main .about {
    height: auto;
    padding: 6vh 0;
  }
}
@media screen and (min-width: 769px) {
  main .about {
    width: 30%;
    max-width: 285px;
  }
}
main .about h2 {
  font-size: 22px;
  margin-top: 25px;
  margin-bottom: 0;
  color: #222222;
  font-weight: normal;
}
main .about .tagline {
  font-size: 22px;
  margin-top: 17px;
  color: #aaa;
  white-space: pre-wrap;
  line-height: normal;
}
main .about img {
  max-width: 150px;
}

#title a {
  text-decoration: none;
}

.social {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.social a {
  margin-bottom: 0.5em;
}
.social li i {
  font-size: 34px;
}

.navigation {
  width: 80%;
}
.navigation ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}
.navigation ul li:last-child a {
  border-bottom: 0;
}
.navigation ul a {
  display: block;
  font-family: "Merriweather";
  text-align: center;
  padding: 1rem 0;
  text-decoration: none;
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 768px) {
  .navigation ul a {
    padding: 2rem 0;
  }
}

.post-wrapper {
  border-bottom: 1px solid #ececec;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.post-categories {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.post-categories li {
  font-size: 14px;
  float: left;
  background-color: #e3e3e3;
  padding: 5px 20px;
  border-radius: 2px;
  margin-right: 10px;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .post-categories li {
    margin-top: 5px;
  }
}

.post-date {
  margin-right: 10px;
  color: #555;
  min-width: 150px;
}

.post-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .post-meta {
    flex-direction: column-reverse;
    align-items: baseline;
  }
  .post-meta .post-date {
    margin-bottom: 16px;
  }
}

.post-link {
  text-decoration: none;
}

.post-title {
  line-height: 1.2em;
  font-size: 28px;
}

/*
.posts,
.post-container {
  list-style-type: none;
  margin: 45px 30px;

  @media screen and (max-width: $smallMobileW) {
    margin-left: 20px;
    margin-right: 20px;
  }

  @media screen and (max-width: $mobileW) {
    padding: 0 !important;
    margin-top: 0;
  }
}
*/
.post-container {
  padding-left: 30px;
}

.post {
  font-family: "Merriweather", sans-serif;
  font-weight: 300;
  color: #222;
  line-height: 1.9em;
}
.post a {
  color: #0a59b0;
  text-decoration: none;
  transition: border-bottom 0.4s;
}
.post a:hover {
  border-bottom: 0.5px solid #0a59b0;
}
.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  font-family: Raleway, sans-serif;
}

#posts-label {
  border-bottom: 1px solid #eee;
  font-size: 15px;
  color: #777;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding-bottom: 10px;
  font-weight: normal;
}

.def-lay-profile-image {
  border-radius: 75px;
}

@media screen and (min-width: 769px) {
  .tutorial-container {
    margin-top: 118px;
  }
}

@media screen and (min-width: 769px) {
  .tutorial-link {
    padding: 0 32px;
  }
}

@media (min-width: 992px) {
  .hide-desktop {
    display: none;
  }
}

@media (max-width: 576px) {
  .hide-mobile {
    display: none;
  }
}

.suc-cont {
  display: block;
  margin: 0 auto;
  padding: 16px;
}
@media (min-width: 1200px) {
  .suc-cont {
    max-width: 1200px;
  }
}
@media (min-width: 992px) {
  .suc-cont {
    max-width: 1000px;
  }
}
@media (min-width: 768px) {
  .suc-cont {
    max-width: 800px;
  }
}
.suc-cont__center {
  text-align: center;
}
.suc-cont__def {
  max-width: 1024px;
}

@media (max-width: 576px) {
  .suc-text-cont {
    text-align: center;
  }
}

.suc-typo__h1 {
  font-size: 48;
}

.suc-typography__p.-center {
  text-align: center;
}

.suc-navbar {
  background-color: white;
  color: black;
  padding: 8px;
  margin-bottom: 32px;
}
.suc-navbar__nav a {
  text-decoration: none;
  margin-right: 22px;
  font-weight: bold;
}
.suc-navbar__nav a:visited {
  text-decoration: none;
}
.suc-navbar__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.suc-navbar .language-bar .language-image {
  height: 32px;
}

.walking-sprites {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
  position: relative;
}
.walking-sprites__header-text h1 {
  line-height: 32px;
}
.walking-sprites__usefull-objects {
  border: 2px solid #14213d;
  border-radius: 4px;
  width: 356px;
  padding: 10px;
  min-height: 88px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
  display: flex;
  justify-content: center;
}
.walking-sprites__assigned-objects {
  border: 2px solid #fca311;
  border-radius: 4px;
  display: flex;
  padding: 10px;
  min-height: 88px;
  width: 356px;
  display: flex;
  justify-content: center;
}
.walking-sprites__sprites-navigation {
  display: flex;
  justify-content: space-between;
  width: 60%;
  padding: 20px;
  position: absolute;
  font-weight: bold;
  bottom: 35px;
}
.walking-sprites__sprites-navigation span {
  cursor: pointer;
}

.walking-sprites h1 {
  text-align: center;
}

/*
    Custom changes for object list
  */
.ObjectDraggable {
  display: flex;
  width: 64px;
  height: 64px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin: 0 4px;
  background: url("https://i.pinimg.com/564x/a3/82/c8/a382c8bf0e2ea05d2fc18d75b3bb7fe9.jpg");
  overflow: hidden;
}
.ObjectDraggable.object-pizza {
  background-position: -20px -4px;
}

.home-section {
  width: 100%;
  background-color: rgb(224, 210, 189);
  min-height: 300px;
}

.suc-sticky-alert {
  width: 300px;
  border-radius: 22px;
  position: fixed;
  left: 20px;
  bottom: 20px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
@media (min-width: 1200px) {
  .suc-sticky-alert {
    left: 200px;
  }
}
.suc-sticky-alert__head {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
.suc-sticky-alert .close {
  cursor: pointer;
}

.suc-link-with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.suc-footer {
  background-color: #000;
  color: #fff;
  min-height: 300px;
  padding: 20px;
}
.suc-footer .badges-box {
  margin: 16px 0;
}
.suc-footer a {
  color: white;
}
.suc-footer .suc-about {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.suc-footer .suc-about .title {
  color: white;
}
.suc-footer .suc-about .social i {
  color: white;
}
.suc-footer__inner-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
}
@media (max-width: 576px) {
  .suc-footer__list-container {
    display: flex;
    flex-direction: column;
  }
  .suc-footer__list-container ul {
    padding-left: 8px;
  }
}
.suc-footer__link-list-header {
  font-weight: bold;
  margin-bottom: 8px;
}
.suc-footer__link-list {
  list-style: none;
}
@media (max-width: 576px) {
  .suc-footer__link-list {
    text-align: center;
  }
}
.suc-footer__link-list-item a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 576px) {
  .page-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 576px) {
  .page-contact__formContainer {
    padding: 0 20px;
  }
}
@media (max-width: 576px) {
  .page-contact__formContainer .btn-primary {
    width: 100%;
  }
}
.page-contact__formContainer .form-group {
  text-align: left;
}

.suc-cont ul {
  list-style-type: none;
}

.home-main-content {
  min-height: 500px;
}

.posts-page__bg-doodle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.posts-page__posts {
  padding: 0;
}
.posts-page__posts > li {
  background-color: white;
  margin: 18px 0;
}
.posts-page__post-container {
  padding: 18px;
}

.loader-wrapper {
  z-index: 0;
}

/* 
The comments here attempt to explain the implementations of spritesheet animations in Danger Crew.

We'll utilize a dynamic "pixel size" which will allow us to upscale the pixel art in even multiplications.
EX: if an asset is designed as a 10px by 10px square, we can multiply by pixel size of 4 to enlarge the asset to 40px by 40px. This value can be adjusted per screen real estate. 
*/
:root {
  --pixel-size: 4; /* Try playing with this value! */
}

/* 
   Allow pixel art images and canvas tags to scale up without losing quality
*/
.PixelArtImage {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

/* 
	This is the square crop of the character, each frame designed at natural size 32x32. 
	Multiplied by dynamic pixel size.
*/
.Character {
  width: calc(var(--pixel-size) * 32px);
  height: calc(var(--pixel-size) * 32px);
  overflow: hidden;
  position: relative;
}
.Character img {
  max-width: none;
}

.Character_shadow {
  width: calc(var(--pixel-size) * 32px);
  height: calc(var(--pixel-size) * 32px);
  opacity: 0.25;
  position: absolute;
}

/* Set up a CSS Animation to move our spritesheet to the LEFT. */
@keyframes walkAnimation {
  from {
    transform: translate3d(0%, 0%, 0);
  }
  to {
    transform: translate3d(-100%, 0%, 0);
  }
}
/* 
	One spritesheet containing layout of 4 by 4 frames, each designed at 32x32.
	Total width = 128px multiplied by dynamic pixel size.
	The visible part is cropped out via .Character's overflow:hidden rule. This image lives *inside* the .Character container.
*/
.Character_sprite-sheet {
  width: calc(var(--pixel-size) * 128px);
  animation: walkAnimation 0.6s steps(4) infinite;
  /* ^ "Complete the animation in 4 distinct steps". We use 4 because each row of the spritesheet has 4 frames. */
  position: absolute;
  top: 0;
  left: 0;
  display: none; /* For the sake of this demo, JS will control which character spritesheet is visible */
}

.Character_sprite-sheet.active {
  display: block;
}

/* 
	Set up classes that change the y position of underlying spritesheet.
	Spritesheet is designed with this layout:
		D1 D2 D3 D4
		R1 R2 R3 R4 (32px away from top)
		U1 U2 U3 U4 (64px away from top)
		L1 L2 L3 L4 (96px away from top)

   EX: https://s3-us-west-2.amazonaws.com/s.cdpn.io/21542/WalkingDemo-HANK-2-SHEET.png
*/
.Character--walk-down .Character_sprite-sheet {
  top: 0;
}

.Character--walk-right .Character_sprite-sheet {
  top: calc(var(--pixel-size) * -32px);
}

.Character--walk-up .Character_sprite-sheet {
  top: calc(var(--pixel-size) * -64px);
}

.Character--walk-left .Character_sprite-sheet {
  top: calc(var(--pixel-size) * -96px);
}

/* Demo UI Stuff ------------------------------------------------- */
* {
  box-sizing: border-box;
}

.Container {
  max-width: calc(var(--pixel-size) * 100px);
  margin: 0 auto;
}

.TitleImage {
  width: calc(var(--pixel-size) * 95px);
  display: block;
  margin: 0 auto;
}

.NavigationBubble {
  -webkit-appearance: none;
  width: calc(var(--pixel-size) * 3px);
  height: calc(var(--pixel-size) * 3px);
  background: #2497cc;
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: 0;
  margin-left: 0.5em;
  margin-right: 0.5em;
  box-sizing: content-box;
}

.NavigationBubble:hover:not(.active) {
  opacity: 0.9;
}

.NavigationBubble.active {
  background: #fff;
}

.NextSpritesheetButton {
  -webkit-appearance: none;
  border: 0;
  background: none;
  padding: 1em;
  position: absolute;
  top: 50%;
}

.NextSpritesheetButton--prev {
  left: 0;
}

.NextSpritesheetButton--next {
  right: 0;
}

.NextSpritesheetButton:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}

.NextSpritesheetButton:focus {
  outline: none;
}

.NextSpritesheetButton svg {
  display: block;
  width: calc(var(--pixel-size) * 4px);
}

.DirectionArrow {
  background: none;
  outline: 0;
  border: 0;
  cursor: pointer;
}

.DirectionArrow svg {
  display: block;
  width: calc(var(--pixel-size) * 13px);
}

.DirectionArrow--active .Arrow_outline-top {
  stroke: #5268ec;
}

.DirectionArrow--active .Arrow_surface {
  stroke: #639bff;
}

.DirectionArrow--active .Arrow_outline-bottom {
  stroke: #164496;
}

.DirectionArrow--active .Arrow_edge {
  stroke: #7baaff;
}

.DirectionArrow--active .Arrow_front {
  stroke: #4c8bfd;
}

.DirectionArrow--active .Arrow_arrow-inset {
  stroke: #fff;
}

.DirectionArrow--active .Arrow_arrow-body {
  stroke: #fff;
}

.SpritesheetSlider {
  position: relative;
  margin-bottom: calc(var(--pixel-size) * 10px);
}

/*
    Custom changes for object list
  */
.ObjectDraggable {
  display: flex;
  width: 64px;
  height: 64px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin: 0 4px;
  background: url("https://i.pinimg.com/564x/a3/82/c8/a382c8bf0e2ea05d2fc18d75b3bb7fe9.jpg");
  overflow: hidden;
}
.ObjectDraggable.object-pizza {
  background-position: -20px -4px;
}
.ObjectDraggable.object-hamburger {
  background-position: -220px -133px;
}
.ObjectDraggable.object-sushi {
  background-position: -119px -262px;
}
.ObjectDraggable.object-coffe {
  background-position: -119px -518px;
}

.drag-n-drop {
  margin: 8px;
  min-width: 256px;
  justify-content: center;
  display: flex;
}

/*# sourceMappingURL=style.css.map */