@use './variables' as *;

// Small devices
@mixin media-only-sm {
  @media (max-width: #{$screen-sm-min}) {
      @content;
  }
}

// Medium devices
@mixin media-md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

// Large devices
@mixin media-lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}

// Extra large devices
@mixin media-xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}


.hide-desktop {
  @include media-lg {
    display: none;
  }
}

.hide-mobile {
  @include media-only-sm {
    display: none;
  }
}
