@use '../base/mixins' as *;

.page-contact {
  &__formContainer {
    @include media-only-sm {
      padding: 0 20px;
    }

    @include media-only-sm {
      .btn-primary {
        width: 100%;
      }
    }

    & .form-group {
      text-align: left;
    }
  }
}
