.posts-page {
  &__bg-doodle {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
  }

  &__posts {

    padding: 0;

    & > li {
      background-color: white;
      margin: 18px 0;
    }
  }

  &__post-container {
    padding: 18px;
  }
}

.doodle-background-page {
  .suc-navbar {
    position: relative;
    z-index: 2;
  }

  main,
  footer {
    position: relative;
    z-index: 1;
  }
}
