<div>
  <div class="suc-sticky-alert">
    <div class="suc-sticky-alert__head"><span class="close"><i class="fa fa-times-circle"></i></span></div>
    <div class="suc-sticky-alert__body">
      <a href="/info" class="suc-link-with-icon"><span><img src="{{ "/assets/images/icons8-cookie-64.png" | relative_url }}" /></span> <span>Cookie-free site</span></a>

      <p class="suc-typography__p -center">
        This site does not use cookies for any scopes.
      </p>

    </div>

  </div>
  <script type="application/javascript">
    (function () {
      document.querySelectorAll('.suc-sticky-alert').forEach( el=> {
        el.querySelector('.close').addEventListener('click', e => {
          e.currentTarget.parentNode.parentNode.style.display = 'none';
        })
      } )
    })();
  </script>
</div>
