// Colors
$netar-black: #000;
$netar-smooth-black: #14213d;
$netar-yellow: #fca311;
$netar-gray: #e5e5e5;
$netar-white: #fff;

// Screen sizes

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
